* {
  font-family: 'Sarabun';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0f1724;
  color: #fff;
  width: 100%;
  height: 70px;
  padding: 0 30px;
}

.navbar a {
  color: #fff;
  padding: 10px 20px;
  margin: 0 5px;
  text-decoration: none;
}

.navbar ul {
  list-style: none;
}

.navbar a:hover {
  border-bottom: 2px solid #28a745;
}
.navbar .active {
  border-bottom: 2px solid #28a745;
}
.container {
  max-width: 1280px;
  padding: 0 1.5rem;
  margin: auto;
}
.quote {
  height: 80vh;
  position: relative;
}
.quote-preview {
  padding: 30px 50px;
  margin: 15px auto;
  background: #fff;
  box-shadow: #333 1px 1px 1px 3px;
  border-radius: 2px;
}

.quote-title {
  padding-top: 20px;
  text-align: center;
  text-transform: uppercase;
}

.quote-text {
  text-align: center;
  font-size: 24px;
}

.quote-author {
  font-size: 20px;
  text-align: right;
}

.bottom-line {
  height: 3px;
  width: 30%;
  margin: 15px auto;
  border-bottom: #ffd200 5px solid;
}
.manage {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.btn {
  padding: 5px 5px;
  margin: 5px 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  padding: 15px;
  max-width: 200px;
  font-weight: bold;
}

.btn-primary {
  color: #fff;
  background: #ffbc00;
}
.btn-danger {
  background: #dc3545;
  color: #fff;
}

.links {
  text-decoration: none;
  color: #0f1724;
}

.form {
  padding: 10px 30px;
  max-width: 800px;
  margin: auto;
}

.form-title {
  text-align: center;
  margin-top: 20px;
  text-transform: uppercase;
}

.form-group {
  margin-bottom: 10px;
}
.form-group label {
  font-weight: bold;
  padding-bottom: 5px;
  display: block;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 18px;
}

.about-text {
  font-size: 18px;
  text-indent: 30px;
  margin-bottom: 10px;
}
